# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Google credentials
application_default_credentials.json